{
    "extends": "airbnb-base",
    "rules": {
        "prefer-arrow-callback": "off",
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id",
                    "__v",
                    "_mongooseOptions"
                ]
            }
        ]
    }
}
